# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
algo-vis-backend/tmp/
.env
algo-vis-backend/server.out.log
algo-vis-backend/server.err.log
algo-vis-backend/.server.stdout.log
algo-vis-backend/.server.stderr.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

#==========================
# build outputs
#==========================
dist/
build/
